fastapi                # Framework web
uvicorn                # Servidor para FastAPI
sqlalchemy             # ORM para interactuar con la base de datos
pydantic               # Validación de datos
python-decouple        # Manejo de variables de entorno
passlib[bcrypt]        # Manejo de contraseñas (cifrado)
python-jose[cryptography]  # JWT (JSON Web Tokens) para autenticación
alembic                # Migraciones para SQLAlchemy
google-generativeai    # Acceso a Google Generative AI
PyJWT
email-validator
